<h1>Ajouter une Note</h1>

<hr>

<input [(ngModel)]="author" placeholder="Author" class="input" name="note">
<input [(ngModel)]="title" placeholder="title" class="input" name="note">
<input [(ngModel)]="content" placeholder="content" class="input" name="note">
<input [(ngModel)]="category" placeholder="category" class="input" name="note">
<input [(ngModel)]="image" placeholder="image" class="input" name="note">




<button class="button is-success" (click)="clickHandler()" [disabled]="content?.length < 2 || content?.length > 200">
  Add Note
</button>
<hr>
<div *ngFor="let note of notes | async">
    <note-detail routerLink="../show-note" [note]="note"></note-detail>
</div>